<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GtaVModPeDistance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GtaVModPeDistance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GtaVModPeDistance.Properties.Settings>
            <setting name="PedMinSpawningDistance" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PedMaxSpawningDistance" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CameraMinSpawningHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraMaxSpawningHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TeleportingDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RenderingDelay" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PedSpawningDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CollectingDataDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ClearCollectingDataDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CameraFixedHeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="MaxCollectedData" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AdvancedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveScreenShotLocally" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>Jpeg</value>
            </setting>
        </GtaVModPeDistance.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GtaVModPeDistance.Properties.Settings>
            <setting name="MaxCollectedSelectionable" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DirectoryName" serializeAs="String">
                <value>MachineLearningProject</value>
            </setting>
        </GtaVModPeDistance.Properties.Settings>
    </applicationSettings>
</configuration>